---
// Component imports
import { Layout } from "@globals"
import heroImage from '../assets/img/test.png';
const siteTitle = "BgiBola";
const SiteDescription = "NobarTV | BGiBola | Situs Live Streaming Nonton Bola Online Gratis";
import siteLogo from '../assets/img/bgibola-logo.png';

const finalTitle = siteTitle + " - " + SiteDescription;

console.log(finalTitle)

---


<Layout title={finalTitle} >

<div class=navbar>
		<div class=container>
			<div class=row>
				<div class="col-xs-6 text-left">
					<div class=slotgacor>
						<img width=125px
								 height=50px
								 src={siteLogo.src}
								 alt={siteTitle}>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class=clear></div>
	<div class=space></div>
	<div class=clear></div>
	<div class=content>
		<div>
			<img src=https://cris2014.org/wp-content/uploads/2023/07/mesin-slot-online.png
					 width=640
					 height=360
					 layout=responsive
					 alt="situs slot gacor">
		</div>
	</div>


</Layout>
